@{
    ViewData["Title"] = "Home Page";
}

<h5>Result formidling af USA league og lokal liga her i Danmark</h5>
<p>Brug navigationen øverst eller klik her herunder for at læse om sitet</p>
<p><a href='about'>Om sitet</a></p>
<p>&nbsp;</p>  