@{
    ViewData["Title"] = "Teams";
}

<h1>Teams</h1>

<p>This is the Teams index page. Populate with a list of teams from the controller/service.</p>

<p>
    <a class="btn btn-primary" asp-controller="Team" asp-action="Create">Create new team</a>
</p>
