@model PlacementTableApp.Models.ViewModels.ResultView

<h1>Create result</h1>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="TeamId" class="form-label"></label>
        <input asp-for="TeamId" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Wins" class="form-label"></label>
        <input asp-for="Wins" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Losses" class="form-label"></label>
        <input asp-for="Losses" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>