@{
    ViewData["Title"] = "Results";
}

<h1>Results</h1>

<p>This is the Results index page. Populate with a list of results from the controller/service.</p>

<p>
    <a class="btn btn-primary" asp-controller="Result" asp-action="Create">Create new result</a>
</p>
