@model IEnumerable<PlacementTableApp.Models.ViewModels.ResultView>

<h1>Results</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Team</th>
            <th>Wins</th>
            <th>Losses</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
            <tr>
                <td>@r.Id</td>
                <td>@r.TeamId</td>
                <td>@r.Wins</td>
                <td>@r.Losses</td>
            </tr>
        }
    </tbody>
</table>