@{
    ViewData["Title"] = "Standings";
}

<h1>Standings</h1>

<p>This is the Standings index page. Populate with the standings from the controller/service.</p>

<p>
    <a class="btn btn-primary" asp-controller="Standing" asp-action="Refresh">Refresh standings</a>
</p>
